<ion-header class="ion-no-border" *ngIf="!loading">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Reemplazando el texto del botón por una flecha -->
      <ion-button class="custom-button" fill="clear" routerLink="/login">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading" id="header" class="animate__animated animate__fadeInDown">
    <h1>Recupera tu Contraseña</h1>
  </div>

  <form *ngIf="!loading" id="form" class="animate__animated animate__fadeInUp">
    <ion-item class="custom-item">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      <ion-icon slot="end" name="eye-off" *ngIf="!showPassword" (click)="togglePasswordVisibility()"></ion-icon>
      <ion-icon slot="end" name="eye" *ngIf="showPassword" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="resetPassword()">Recuperar Contraseña</ion-button>
  </form>

  <div *ngIf="error && !loading" class="error-message animate__animated animate__shakeX">
    {{ error }}
  </div>

  <div *ngIf="loading" class="loading-content">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Restableciendo contraseña...</p>
  </div>
</ion-content>
