ion-content {
  --padding-start: 0;
  --padding-end: 0;

  .header {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: #515151;
      margin: 0;
      padding-top: 4rem; /* Aumentar el padding-top para bajar el título */
    }

    .logout-button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.9rem; /* Ajustar tamaño de fuente */
      padding: 0.3rem 0.5rem; /* Ajustar padding */
      border-radius: 0.3rem; /* Ajustar border-radius */
      color: #fff; /* Color del texto */
      margin: 0.5rem; /* Ajustar margen */
    }
  }

  .searchbar-container {
    padding: 0 1rem;
    margin: 2rem 0 1rem 0; /* Añadir margen superior y ajustar el margen inferior */
  }

  .search-results-message {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #515151;
    margin-top: 2rem;
  }

  .categories {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 2rem;

    .category-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: nowrap;
    }

    app-category-item {
      flex: 0 1 auto;
    }
  }

  .list-header {
    font-weight: 700;
    color: #515151;
    font-size: 1.8rem;
    margin: 0 1rem 1.6rem 1rem;
    margin-top: 2.5rem;
  }

  .food-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 0 1rem;
  }
}
