<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Deseos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wishlist-content">
  <ion-list *ngIf="wishlist.length">
    <ion-card *ngFor="let item of wishlist" (click)="viewDetail(item)">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle><sup>$</sup>{{item.new_price | number: '1.2'}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail slot="start">
          <ion-img [src]="item.image"></ion-img>
        </ion-thumbnail>
        <ion-button fill="clear" color="danger" (click)="removeFromWishlist(item); $event.stopPropagation();">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- EMPTY WISHLIST -->
  <div class="empty-wishlist" *ngIf="!wishlist.length">
    <ion-icon name="heart-outline"></ion-icon>
    <p>Tu lista de deseos está vacía</p>
  </div>
</ion-content>
