<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Regístrate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Iniciar Sesión</h1>
    <img src="assets/images/icons/Logocafe.png" />
  </div>

  <form id="form">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="login()">Iniciar</ion-button>
  </form>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</ion-content>
