.card {
  width: 100%;
  padding: 1.6rem;  // Restaurar el padding original
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  margin-bottom: 2rem;  // Añadir un margen inferior para separar las tarjetas verticalmente
  box-sizing: border-box;  // Asegura que el padding no aumente el tamaño total de la tarjeta
  
  
  ion-img {
    width: 100%;
    height: 100px; /* Ajusta la altura según lo necesario */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    border-radius: 1rem; /* Redondea los bordes de la imagen */
    overflow: hidden;
  }
  .card-content {
    text-align: center;

    .title {
      font-weight: 700;
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
      color: #1d1d1d;
      overflow: hidden; /* Oculta el texto que sobrepasa el ancho del contenedor */
      text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto truncado */
    }

    .subtitle {
      font-size: 1.3rem;
      font-weight: 700;
      color: #ffb800;
      margin-top: 0;

      sup {
        font-size: 1rem;
        margin-right: 2px;
        color: #ffb800;
      }
    }

    ion-buttons {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);

      ion-button {
        --background: #A75430;
        font-weight: 700;
        color: #fff;
        width: 40px;
        height: 40px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
      }
    }
  }
}
